@import 'defaults';

@mixin display_flex() {
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    padding: 30px;
    background-color: white;
}

#landingHeader {
    position: absolute !important;
    top: 0 !important;
    z-index: 100;

    /* .headerBackground {
        position: absolute;
        padding: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: white;
        z-index: 2;
        opacity: 0.3;
    } */
}

/* Landing page */
.header__rightside {
    @include display_flex();
    height: 40px;
    
    li {
        cursor: pointer;
        margin: 0 10px;
    }
    &__pages {
        @include display_flex();
    }

    .language_section:hover {
        cursor: pointer;
        transition: 0.1s ease all;
        filter: invert(48%) sepia(77%) saturate(400%) hue-rotate(86deg) brightness(100%);
    }

    .create__account {
        background-color: $corPrincipal;
        border-radius: 10px;
        padding: 10px;
        font-weight: 500;
        color: white;
    }

    /* Formatacoes */
    .header__rightside__pages {
        font-weight: 300;
        font-size: 0.86em;

        .option {
            height: 100%;
            padding: 6px;
        }

        .option:hover {
            color: green;
            font-weight: 500;
            border-bottom: 2px solid green;
        }

        .login {
            font-weight: 500;
            color: green;
        }
    }
}

// .Temp {
//     background-color: yellow;
//     width: 100px;
//     height: 100px;
// }

/* Logged user */
#loggedHeader {
    box-shadow: 0px 0px 18px -8px rgba(0,0,0,0.45);
}

.loginContainer {
    border: 1px solid red !important;
    width: auto;

    .icon {
        padding: 10px 14px;
        border-radius: 50px;
        background-color: $corPrincipal;
        color: white;
        font-size: 1.2em;
    }
}